<nav class="nav flex-column navbar-expand-md col-md-3 col-lg-2 pt-4 navbar-light bg-light">
  <div class="navbar_brand logo d-flex justify-content-center p-1">
    <a href="{{site.url}}/"><img src="{{site.url}}/images/Klahanie-Logo-for-Web-small-2.png" class="img"
        alt="Klahanie Logo"></a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sideBar"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="mt-2 collapse nav-collapse" id="sideBar">
    <ul class="nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item"><a class="nav-link" href="{{site.url}}/announcements/">Announcements</a></li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#item2" data-toggle="collapse" data-parent="nav">Amenities</a>
        <div id="item2" class="collapse">
          <ul class="nav ml-3">
            <li class="nav-item"><a class="nav-link dropdown-toggle" data-parent="nav"
                href="{{site.url}}/amenities/pools/">Pool Information</a>
              <div id="pools" class="collapse">
                <ul class="nav ml-3">
                  <li class="nav-item"><a class="nav-link"
                      href="{{site.url}}/amenities/pools/lakeside-pool.html">Lakeside
                      Pool</a></li>
                  <li class="nav-item"><a class="nav-link"
                      href="{{site.url}}/amenities/pools/mountainview-pool.html">Mountainview Pool</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{site.url}}/amenities/pools/swim-lessons.html">Swim
                      Lessons</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{site.url}}/amenities/pools/pool-rules.html">Pool
                      Rules</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="{{site.url}}/amenities/tennis-information.html">Tennis
                Information</a></li>
            <li class="nav-item"><a class="nav-link" href="{{site.url}}/clubs/">Clubs and Groups</a></li>
            <li class="nav-item"><a class="nav-link"
                href="{{site.url}}/amenities/klahanie-neighborhood-patrol.html">Neighborhood Patrol</a>
          </ul>
        </div>
      </li>

      <li class="nav-item"><a class="nav-link dropdown-toggle" href="#item3" data-toggle="collapse"
          data-parent="nav">The
          Association</a>
        <div id="item3" class="collapse">
          <ul class="nav ml-3">
            <li class="nav-item"><a class="nav-link" href="{{site.url}}/association.html">Overview</a></li>
            <li class="nav-item"><a class="nav-link" href="{{site.url}}/administration.html">Administration</a></li>
            <li class="nav-item"><a class="nav-link" href="{{site.url}}/obligations-and-compliance.html">Obligations and
                Compliance</a>
            <li class="nav-item"><a class="nav-link" href="{{site.url}}/board-of-directors.html">Board of Directors</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{{site.url}}/buying-a-home.html">Buying or Selling a Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{{site.url}}/renting-your-home.html">Renting Your Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{{site.url}}/staff.html">Staff</a></li>
            <li class="nav-item"><a class="nav-link" href="{{site.url}}/links.html">Links and Resources</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#item1" data-toggle="collapse" data-parent="nav">Neighborhood</a>
        <div id="item1" class='collapse'>
          <ul class="nav ml-3">
            <li class="nav-item"><a class="nav-link" href="{{site.url}}/neighborhoods/">Neighborhoods</a></li>
            <li class="nav-item"><a class="nav-link" href="{{site.url}}/shopping-center.html">Shopping Center</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" href="{{site.url}}/magazine.html">Klahanie Magazine</a></li>
      <li class="nav-item"><a class="nav-link" href="{{site.url}}/events-calendar.html">Calendar of Events</a></li>
      <li class="nav-item"><a href="https://klahanieassociation.frontsteps.com/" class="nav-link">Homeowner Login</a>
      </li>
      <li class="nav-item"><a class='nav-link' data-toggle="modal" data-target="#myModal">Search</a></li>
    </ul>
    <div class="small ml-3 mt-4">4210 244th Place SE<br>
      Sammamish, WA 98029<br>
      <a href="tel:425-392-4663">(425) 392-4663</a><br>
      <a href="mailto:info@klahanie.com">Email</a><br>
      <br>
      <h6>Office hours</h6>
      <ul class="list-unstyled">
        <li>Monday-Thursday: 8:30am - 5:00pm</li>
        <li>Friday: 9:00am - 4:00pm</li>
        <li>Closed weekends, and holidays</li>
      </ul>
      <a href='https://www.facebook.com/KlahanieAssociation/'><img src="{{site.url}}/images/fb.png" class="img"
          width="100" alt="Find us on Facebook"></a>
    </div>
    </ul>

  </div>
</nav>
